*.apk
*.iml
*.jks
*/bin/
*/build
*yarn.lock
.DS_Store
.cxx
.externalNativeBuild
.gradle
.idea
.kotlin
.vscode
/app/desktopApp/bin/
/app/iosApp/Podfile.lock
/app/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/app/iosApp/iosApp.xcworkspace/contents.xcworkspacedata
/ollama
Pods/
build
captures
local.properties
xcuserdata/
